node_modules
# Keep environment variables out of version control
.env*
!.env.example

/src/lib/generated/prisma


# Docker volumes and configs
/docker/database/postgres_data/ 
/docker/database/redis_data/